.checkbox-block__input{
	visibility: hidden;
}

.checkbox-block__input:checked + .checkbox-block__icon_type_checkbox{
	background: url(../../../images/test/test_checkbox_chek_icon.svg) center no-repeat;
}

	.checkbox-block__input:checked + .checkbox-block__icon_type_radio{
	background: url(../../../images/test/test_radio_check_icon.svg) center no-repeat;
	}

	.checkbox-block__input:checked + .checkbox-block__icon + .checkbox-block__text{
	color:  #F06000;
	}
