.personal-info__button-submit {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	margin: 0 auto;

	max-width: 246px;
	padding: 12px 24px;

	border: none;
	border-radius: 16px;

	background-color: #FF6600;
	color: #FFF;

	cursor: pointer;
}

.personal-info__button-submit:hover {
	background-color: #F06000;
}

.personal-info__button-submit[disabled] {
	background-color: #E6E7EB;
	color: #9397A3;

	cursor: auto;
}

