.block-header {
	margin: 0;
	padding-bottom: 32px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1024px) {
	.block-header {
		justify-content: flex-start;
	}
}

@media (max-width: 1024px) {
	.block-header {
		justify-content: space-between;
	}
}
