.page {
	box-sizing: border-box;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #fcfcfc;
	color: #212329;
	display: grid;
	grid-template-columns: 36px minmax(min-content, calc(25% - 48px)) minmax(min-content, 75%) 36px;
	grid-template-areas:
		"header header header header"
		". page-title page-title . "
		". sidebar-left content .";
	column-gap: 24px;
	font-family: "Golos", "Arial", sans-serif;
}

@media (max-width: 1184px) {
	.page {
		grid-template-columns: 1px minmax(min-content, calc(25%)) minmax(min-content, 75%) 1px;
		grid-template-areas:
			"header header header header"
			". page-title page-title . "
			". sidebar-left content .";
	}
}

@media (max-width: 1024px) {
	.page {
		column-gap: 12px;
	}
}

@media (max-width: 1024px) {
	.page {
		grid-template-columns: 1px 1fr 1px;
		grid-template-areas:
			"header header header"
			". page-title ."
			". sidebar-left ."
			". content .";
	}
}

