.sidebar-account {
	display: grid;
	justify-items: center;
	align-content: start;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3, auto);
	row-gap: 32px;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
}

@media (max-width: 1024px) {
	.sidebar-account {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: minmax(min-content, 320px);
		padding-top: 12px;
		padding-bottom: 12px;
		margin-top: 24px;
		margin-bottom: 24px;
	}
}
