.profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

@media (max-width: 879px) {
  .profile {
    max-width: 581px;
  }
}

@media (max-width: 581px) {
  .profile {
    flex-flow: column;
  }
}