.card-list__button {
	width: 248px;
	position: absolute;
	right: 32px;
	bottom: 32px;
}

@media (max-width: 1320px) {
	.card-list__button {
		bottom: 24px;
		right: 24px;
		max-width: 180px;
	}
}

@media (max-width: 1184px) {
	.card-list__button {
		margin-top: 12px;
	}
}