.card-result__paragraph {
    max-width: 680px;
    font-family: "Golos-Text", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #212329;
    margin: 0 0 32px 0;
	box-sizing: border-box;
	padding: 0 38px 0 38px;
}
