.button_initiate {
	width: 250px;
	background: #ff6600;
	border-radius: 16px;
	color: #ffffff;
	z-index: 2;
  text-align: center;
	text-decoration: none;
  border: 1px #E6E7EB solid;
	background-color: #fff;
	color: #ff6600;
	transform: 2s linear;
}

.button_initiate:hover {
	border: 1px #ff6600 solid;
	transform: scale(1.008);
}