.disclaimer-info__text {
	margin: 0;
	padding: 0;
	font-family: Golos, "Arial", sans-serif;
	font-style: normal;
	/* В шрифтовом файле указан вес 400, поэтому должен быть указан и здесь вместо normal */
	font-weight: 400;
	font-size: 18px;
	line-height: 133%;
	color: #9397A3;
}

 /* при обозначении nth-child номером указывается какой ребенок/ */

.disclaimer-info__text:nth-child(n) {
	margin-bottom: 30px;
}
