.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  padding: 24px 60px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 0px 4px 16px rgba(231, 232, 235, 0.6);
}
