.profile__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

@media (max-width: 879px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 581px) {
    .profile__subtitle {
        text-align: center;
    }
}