.button_disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #E6E7EB;
  color: #9397A3;
  fill:#9397A3;
  pointer-events: none;
  width: 184px;
  height: 48px;
}
