.results__text {
  max-width: 680px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Golos', sans-serif;
  text-align: center;
}


#results_text_one {
  padding-top: 24px;
  padding-bottom: 18px;
}
#results_text_three {
  padding-top: 0;
}



