.block-test__input{
  visibility: hidden;
}

/*? самыый главный вопрос здесь! так как по бэм, вроде, так делать нельзя*/
.block-test__input:checked + .block-test__icon_type_checkbox{
  background: url(../../../images/test/test_checkbox_chek_icon.svg) center no-repeat;
}

.block-test__input:checked + .block-test__icon_type_radio{
  background: url(../../../images/test/test_radio_check_icon.svg) center no-repeat;
}

.block-test__input:checked + .block-test__icon + .block-test__text{
  color:  #F06000;
}
