.button_registration {
	background: #ff6600;
	border-radius: 16px;
	width: 250px;
	color: #ffffff;
	z-index: 2;
  text-align: center;
	text-decoration: none;
  transform: 2s linear;
}

.button_registration:hover {
	background-color: #f06000;
	transform: scale(1.008);
}

@media (max-width: 1320px) {
	.button_registration {
		bottom: 24px;
		right: 24px;
		max-width: 180px;
	}
}

@media (max-width: 1184px) {
	.button_registration {
		margin-top: 12px;
	}
}