.media-player__control-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
  gap: 32px;
  background-color: rgba(0,0,0, .5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  opacity: 0;
  transition: opacity .5s 3s;
  z-index: 2;
}

.media-player__control-bar:hover {
  opacity: 1;
  transition: opacity .5s;
}

@media screen and (max-width: 1439px) {
  .media-player__control-bar {
    padding: 28px;
  }
}

