.logo__link {
	text-decoration: none;
	margin: 0;
	transition-property: text-shadow;
	transition-timing-function: linear;
	transition-duration: 0.3s;
}

.logo__link:hover {
	cursor: pointer;
	text-shadow: 3px 3px 5px #212329;
}


