.breadcrumbs__crumbs-list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .breadcrumbs__crumbs-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
