.card-list {
    text-decoration: none;
	width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
	grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 24px;
    list-style-type: none;
}

@media (max-width: 1024px) {
	.card-list {
		row-gap: 12px;
	}
}
