.button_color_white {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1.2px solid #E6E7EB;
  background: #FFFFFF;
  color: #FF6600;
  fill:  #FF6600;
  transition: transform 0.6s, border 0.6s;
}

.button_color_white:hover {
  border: 1px #ff6600 solid;
  transform: scale(1.008);
}