.breadcrumbs__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}

.breadcrumbs__item:nth-child(2) {
  min-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbs__item:nth-child(3) {
  min-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
