.media-player__button-progress {
  position: absolute;
  left: 0;
  z-index: 2;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  border-style: none;
  background-color: #212329;
  background-image: url('../../../images/Ellipse.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  box-sizing: border-box;
}
