.checkbox__checkbox-options{
	visibility: hidden;
}

.checkbox__checkbox-options:checked + .checkbox__pseudo_type_checkbox{
	background: url(../../../images/test/test_checkbox_chek_icon.svg) center no-repeat;
}

.checkbox__checkbox-options:checked + .checkbox__pseudo_type_radio{
	background: url(../../../images/test/test_radio_check_icon.svg) center no-repeat;
	}

.checkbox__checkbox-options:checked + .checkbox__pseudo + .checkbox__label{
	color:  #F06000;
	}
