.button_start-again_negative {
  background: #FF6600;
  color: #FFFFFF;
  fill: #FFFFFF;
  text-decoration: none;
  transition: transform 0.6s, background-color 0.6s;
}

.button_start-again_negative:hover {
  background-color: #f06000;
  transform: scale(1.008);
}