.block-header__button {
	height: 28px;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
<<<<<<< HEAD
	text-decoration: none;
}

.block-header__button:hover {
	text-decoration: underline;
}

=======
  text-decoration: none;
}

.block-header__button:hover{
  text-decoration: underline;
}
>>>>>>> develop
