.aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  max-width: 312px;
}


@media (max-width: 1024px) {
	.aside {
		width: 100%;
		max-width: 100%;
	}
}
