.media-player__pause {
	box-sizing: border-box;
	background-size: contain;
	border: transparent;
	background-color: transparent;
	background-image: url("../../../images/video/pause.svg");
	background-repeat: no-repeat;
	width: 17px;
	aspect-ratio: 17 / 18;
	margin: 0 32px 0 0;
	padding: 0;
}
